/* Global */
.container{
    width:80%;
    margin:auto;
    overflow:hidden;
  }
  

footer{
  padding-left:20%;
  padding-top:90%;
}

header{
  background: #35424a;
  color:#ffffff;
  padding-top:30px;
  min-height:70px;
  font-size: 30px;
}

h1 {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    margin: 5px;
    padding-left:10px;

  
  }
h2 {
    font-size:50px;
    padding-left: 40%;
    padding-top: 10px;

}


nav {
    float: left;
    width: 160px;
    display: table-cell;
    font-size: 100%;
    padding-top: 50px;
    font-size: 30px;  
  }

  nav a{
    color:#ffffff;
    text-decoration:none;
    text-transform: uppercase;
    font-size:10px;
  }

  body {
      background-color:#c6c6c6 ;
  }

  article {
      background-color:#424a ;
  }





